.idea/
*.[oa]        #忽略以.o或.a结尾的文件或目录
*.pyc
*.png
*.exe       #忽略以.exe结尾的文件或目录
.*              #忽略以.开头的文件或目录
*.rar
*.zip
*.gz
*.bz2
*.db
*.sqlite
*.html
__pycache__/
*.xml
.DS_Store
*.project
.pydevproject
*.settings/
